/*---------Basic Setup-------------*/

   * {
    
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    
}

html,
body {
    background-color: lightgrey;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*----------Headings-----------*/

h1 {
    margin-left:  50px;
    color: blue;
    
   
}



/*-----------------Navigation-----------*/

.main-nav {
    float:right;
    list-style: none;

    margin-right: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}




/*------------------Images--------------------*/

#linkedin-logo {
    height: 60px;
    width: auto;
    padding: 4px;
    background-color: white;
}
#github-logo {
    height: 60px;
    width: auto;
    padding: 4px;
    background-color: white;
}
#stack-logo {
    height: 60px;
    width: auto;
    padding: 4px;
    background-color: white;
}
#nyr {
    height: 150px;
    width: auto;
    
}

#lhl {
    height: 150px;
    width: auto;
    
}

#njd {
    height: 150px;
    width: auto;
    
}

#tbl {
    height: 150px;
    width: auto;
    
}
#cbh {
    height: 150px;
    width: auto;
}

#sjs {
    height: 150px;
    width: auto;
}

#wjhs {
    height: 225px;
    width: auto;
    float: left;
    margin-right: 30px;
    margin-top: 10px;  

}




/*------------------About Me-----------------*/

.about-me {
    background-color: white;
    border-width: 0px;
    margin-top: 50px;
    width: 50%;
    height:80%;
    float: left;
}

.about {
    background-color: white;
    width 90%;
    padding: 10px;
    line-height: 125%;
    margin-left: 20px;
}

.my-links {
    text-decoration: none;
    width; 30%;
    height: 33%;
    float: right;
    margin-top: 75px;
    margin-right: 100px;
    
    
 }

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    
}




input[type=message] {
    width: 50px;
    height: 40px;
}